form {
    padding: 20px;
}

input[type=submit] {
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: #282828;
    border: 1px solid #282828;
    border-radius: 5px;
    font-weight: bold;
}

label {
    display: inline-flex;
    width: 100px;
    justify-content: center;
}

.inline-flex {
    display: inline-flex;
}